.settings-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
  align-items: center;
  width: 100%;
  padding-bottom: 0.7rem;
}

.icon {
  font-size: 2rem;
  flex: 1;
  text-align: center;
  color: #09f;
}

.home {
  justify-self: start;
}

.settings {
  justify-self: center;
}

.user {
  justify-self: end;
}
