.settings-container {
  display: flex;
  justify-content: space-between; /* Distribuye los íconos uniformemente */
  align-items: center; /* Centra los íconos verticalmente */
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

.icon {
  font-size: 2rem; /* Tamaño del ícono */
  flex: 1; /* Asegura que cada ícono ocupe espacio dentro del contenedor */
  text-align: center; /* Centra los íconos dentro de su espacio asignado */
}

.home {
  justify-self: start; /* Asegura que home esté a la izquierda */
}

.settings {
  justify-self: center; /* Asegura que settings esté en el centro */
}

.user {
  justify-self: end; /* Asegura que user esté a la derecha */
}
