.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  transform: rotate(-6deg);
  border-radius: 1rem;
  z-index: -1;
}

.card-logo {
  margin-inline: auto;
}

.card-logo img {
  width: 45px;
  height: auto;
}

.card-header {
  margin-bottom: 0.7rem;
  text-align: center;
}

.card-header h1 {
  font-size: 2rem;
  font-weight: 500;
}

.card-header h1 + div {
  opacity: 0.8;
}

/* 
sugestao pro css:
.card {
  .header{

  }
  .logo{

  }
} */
