main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  background-color: transparent;

  button {
    background: none;
    border: none;
  }
}

img {
  width: 36px;
  height: 36px;
}
